
*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    position: relative;
}

header{
    background-color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
    position: relative;
}
.logo{
    position: absolute;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    left: 40px;
}
nav{
    padding: 10px;
}

nav ul{
    position: relative;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-left: 70px;
}
.card{
   
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    
    
}
.seperate{
   padding-right: 30px;
  position: relative;
   left: 15px; 
}


#navigation-bar{
    margin-bottom: 30px;
}
section{
    position: relative;
}
#left-colomn{
 
    position: relative;
  left: 55px;
    margin: 0;
   width: 480px;
    
}
#right-colomn{
   position: relative;
   left: 50px;
}
